In [50]:
import pandas as pd 
import numpy as np

In [51]:
train_data = pd.read_csv('train.csv')

In [52]:
train_labels = train_data['Survived']
train_data.drop(['Survived', 'PassengerId', 'Name', 'Ticket', 'Cabin'],
axis = 1, inplace = True)

train_data.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [53]:
train_data['Sex'] = train_data.Sex.map({"male":1, "female":0})
train_data['Embarked'] = train_data.Embarked.map({"C":0, "Q":1, "S":2})

In [54]:
for col in train_data.columns:
    print(col, ":", train_data[col].isnull().sum() )

Pclass : 0
Sex : 0
Age : 177
SibSp : 0
Parch : 0
Fare : 0
Embarked : 2

In [55]:
train_data['Age'] = train_data['Age'].fillna(train_data['Age'].median())

In [56]:
for col in train_data.columns:
    print(col, ":", train_data[col].isnull().sum() )

Pclass : 0
Sex : 0
Age : 0
SibSp : 0
Parch : 0
Fare : 0
Embarked : 2

In [57]:
train_data['Embarked'] = train_data['Embarked'].fillna(train_data['Embarked'].median())

In [58]:
from sklearn.model_selection import train_test_split
trainData, valData, trainLabels, valLabels = (train_test_split(train_data, train_labels, train_size=0.76))

In [59]:
from sklearn import tree
decision_tree = tree.DecisionTreeClassifier(max_depth = 3)
model = decision_tree.fit(trainData, trainLabels)

accuracy = model.score(valData, valLabels)*100
accuracy

85.04672897196261

In [60]:
import pandas as pd
from sklearn import tree
decision_tree = tree.DecisionTreeClassifier(max_depth = 3)
model = decision_tree.fit(trainData, trainLabels)
test_data = pd.read_csv('test.csv')
test_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis= 1, inplace= True)

test_data['Age'] = test_data['Age'].fillna(test_data['Age'].median())
test_data['Fare'] = test_data['Fare'].fillna(test_data['Fare'].median())

test_data['Sex'] = test_data.Sex.map({"male":1, "female":0})
test_data['Embarked'] = test_data.Embarked.map({"C":0, "Q":1, "S":2})
pred = model.predict(test_data)
pred = pred.astype(int)

subn = pd.read_csv('gender_submission.csv')
subn['Survived'] = pred
subn.to_csv('subn.csv', index = False)

In [61]:
test_data.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2